
<!-- Information -->
<md-card>

  <img md-card-image [src]="shop.image" alt="Foto frituur" />
  <md-card-content class="floaty-grid">

      <div>
        <h1>{{shop.name}}</h1>
        <markdown>{{shop.description}}</markdown>
      </div>

      <md-list dense class="small">

        <md-list-item>
          <md-icon>map</md-icon>
          {{shop.street}} {{shop.number}}, {{shop.municipality}}
        </md-list-item>
        <md-list-item>
          <md-icon>phone</md-icon>
          {{shop.telephone}}
        </md-list-item>
        <md-list-item>
          <md-icon>email</md-icon>
          <a href="mailto:{{shop.email}}">{{shop.email}}</a>
        </md-list-item>
        <md-list-item>
          <md-icon>link</md-icon>
          <a href="http://{{shop.website}}">{{shop.website}}</a>
        </md-list-item>

      </md-list>

  </md-card-content>
</md-card>

<!-- Map -->
<md-card class="full">
  <app-map [shops]="[shop]" [lat]="shop.lat" [lng]="shop.lng" [zoom]="13"></app-map>
</md-card>

<!-- Svailible snacks -->
<md-card>
  <h2>Aanbod</h2>
  <div class="floaty-grid">

    <div *ngFor="let group of (snacks | groupBy:'type' | pairs)">

      <h2 md-subheader>{{group[0]}}</h2>

      <md-list>
        <md-list-item *ngFor="let snack of group[1]">
          <div (click)="openDialog(snack)" class="link">
            <span>{{snack.name}}</span>
            <md-icon *ngIf="snack.image || snack.link">open_in_new</md-icon>
          </div>
        </md-list-item>
      </md-list>

    </div>

  </div>
</md-card>