.floaty-grid {
  display: flex;
  flex-wrap: wrap;
}

.floaty-grid > * {
  flex: 1 1 200px;
  align-items: flex-start;
  padding: 10px 20px;
}

.floaty-grid > .small {
  flex: 0 1 200px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

h2, h3 {
  margin: 0;
}

mat-icon {
  margin-right: 10px;
}

.link  {
  cursor: pointer;
}

.link mat-icon {
  font-size: 1.25em;
  vertical-align: sub;
}
