<ng-container *ngIf="shop">
  
  <!-- Information -->
  <mat-card>

    <img mat-card-image *ngIf="shop.image" [src]="shop.image" alt="Foto frituur" />
    <mat-card-content class="floaty-grid">

        <div>
          <h1>
            {{shop.name}}
            <a *ngIf="globals.auth.token && !globals.auth.admin" [routerLink]="'/edit/'+shop.id" class="link" aria-label="Aanpassen" matTooltip="Aanpassen">
                <mat-icon>edit</mat-icon>
              </a>

              <span [routerLink]="" *ngIf="globals.auth.token && globals.auth.admin" (click)="removeShop($event)" class="link color-warn" aria-label="Verwijderen" matTooltip="Verwijderen">
                <mat-icon>delete_forever</mat-icon>
              </span>
          </h1>
          <markdown>{{shop.description}}</markdown>
        </div>

        <mat-list dense class="small">

          <mat-list-item>
            <mat-icon>map</mat-icon>
            {{shop.street}} {{shop.number}}, {{shop.municipality}}
          </mat-list-item>
          <mat-list-item>
            <mat-icon>phone</mat-icon>
            {{shop.telephone}}
          </mat-list-item>
          <mat-list-item>
            <mat-icon>email</mat-icon>
            <a href="mailto:{{shop.email}}">{{shop.email}}</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>link</mat-icon>
            <a [href]="shop.website">{{shop.website}}</a>
          </mat-list-item>

        </mat-list>

    </mat-card-content>
  </mat-card>

  <!-- Map -->
  <mat-card class="full">
    <app-map [shops]="[shop]" [lat]="shop.lat" [lng]="shop.lng" [zoom]="13"></app-map>
  </mat-card>

  <!-- Availible snacks -->
  <mat-card>
    <h2>Aanbod</h2>
    <div class="floaty-grid">

      <div *ngFor="let group of (shop.snacks | groupBy:'type' | pairs)">

        <h2 mat-subheader>{{group[0]}}</h2>

        <mat-list>
          <mat-list-item *ngFor="let snack of group[1]">
            <div class="link">          
              <ng-container *ngIf="snack.image || snack.link;else onlyname">
                <span (click)="handleMoreInfo(snack)" class="link" aria-label="Meer info" matTooltip="Meer info">
                  {{snack.name}}
                  <mat-icon>open_in_new</mat-icon>
                </span>
              </ng-container>

              <ng-template #onlyname>
                {{snack.name}}
              </ng-template>

              <span *ngIf="globals.auth.token && !globals.auth.admin" (click)="dialogsService.editsnack(snack.id)" class="link" aria-label="Aanpassen" matTooltip="Aanpassen">
                <mat-icon>edit</mat-icon>
              </span>

            </div>
          </mat-list-item>
        </mat-list>

      </div>

    </div>
  </mat-card>

</ng-container>
