<md-accordion>

  <!-- Pick shop -->
  <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)"  hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Frituur
      </md-panel-title>
      <md-panel-description>
        Welke frituur wil je aanpassen?
        <md-icon>search</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

    <md-form-field>
      <input mdInput placeholder="ID">
    </md-form-field>

    <md-action-row>
      <button md-button color="accent" (click)="nextStep()">Volgende</button>
    </md-action-row>
  </md-expansion-panel>

  <!-- General Info (title, descr, image) -->
  <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Informatie
      </md-panel-title>
      <md-panel-description>
        Pas de algemene informatie aan
        <md-icon>info_outline</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

    <md-form-field>
      <input mdInput placeholder="Naam">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Beschrijving">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Foto url">
    </md-form-field>

    <md-action-row>
      <button md-button (click)="prevStep()">Vorige</button>
      <button md-button color="accent" (click)="nextStep()">Volgende</button>
    </md-action-row>
  </md-expansion-panel>

  <!-- More Info (details, map coords) -->
  <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Details
      </md-panel-title>
      <md-panel-description>
        Geef meer details over de frituur
        <md-icon>map</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

    <md-form-field>
      <input mdInput placeholder="Adres">
    </md-form-field>

    <md-form-field>
      <input mdInput placeholder="Gegevens">
    </md-form-field>

    <md-form-field>
      <input mdInput placeholder="Coordinaten map">
    </md-form-field>

    <md-action-row>
      <button md-button (click)="prevStep()">Vorige</button>
      <button md-button color="accent" (click)="nextStep()">Volgende</button>
    </md-action-row>
  </md-expansion-panel>

  <!-- Snacks -->
  <md-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Snacks
      </md-panel-title>
      <md-panel-description>
        Welke snacks bied deze frituur aan?
        <md-icon>restaurant_menu</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

    <md-form-field>
      <input mdInput placeholder="Country">
    </md-form-field>

    <md-action-row>
      <button md-button (click)="prevStep()">Vorige</button>
      <button md-button color="accent" (click)="nextStep()">Volgende</button>
    </md-action-row>
  </md-expansion-panel>

</md-accordion>