<mat-accordion>

  <!-- Pick shop -->
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)"  hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Frituur
      </mat-panel-title>
      <mat-panel-description>
        Welke frituur wil je aanpassen?
        <mat-icon>search</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="ID">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="accent" (click)="nextStep()">Volgende</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- General Info (title, descr, image) -->
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informatie
      </mat-panel-title>
      <mat-panel-description>
        Pas de algemene informatie aan
        <mat-icon>info_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Naam">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Beschrijving">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Foto url">
    </mat-form-field>

    <mat-action-row>
      <button mat-button (click)="prevStep()">Vorige</button>
      <button mat-button color="accent" (click)="nextStep()">Volgende</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- More Info (details, map coords) -->
  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Details
      </mat-panel-title>
      <mat-panel-description>
        Geef meer details over de frituur
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Adres">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Gegevens">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Coordinaten map">
    </mat-form-field>

    <mat-action-row>
      <button mat-button (click)="prevStep()">Vorige</button>
      <button mat-button color="accent" (click)="nextStep()">Volgende</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Snacks -->
  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Snacks
      </mat-panel-title>
      <mat-panel-description>
        Welke snacks bied deze frituur aan?
        <mat-icon>restaurant_menu</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Country">
    </mat-form-field>

    <mat-action-row>
      <button mat-button (click)="prevStep()">Vorige</button>
      <button mat-button color="warn" (click)="editsService.saveedit('shop',shop)">Opslaan</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>