<mat-card *ngIf="pendingSnacks.length > 0 && globals.auth.token && globals.auth.admin">
  <h2>Nog niet goedgekeurde snacks die bij deze frituur horen:</h2>
  <ul>
    <li *ngFor="let edit of pendingSnacks; let i = index">
      {{ edit.item.name }} ({{ edit.item.type }})
      <button type="button" mat-icon-button (click)="updatePendingSnack(i)" aria-label="Bekijken" matTooltip="Bekijken">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </li>
  </ul>
</mat-card>

<form [formGroup]="form" (ngSubmit)='onSubmit(form.value)'>
  <mat-accordion>

    <!-- General Info (title, descr, image) -->
    <mat-expansion-panel formGroupName="part1" [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informatie
        </mat-panel-title>
        <mat-panel-description>
          Pas de algemene informatie aan
          <mat-icon>info_outline</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Content -->
      <fieldset [disabled]="globals.auth.token && globals.auth.admin" >
        <mat-form-field class="full">
          <input type="text" required matInput formControlName="name" placeholder="Naam">
          <mat-error *ngIf="form.controls.part1.hasError('required', ['name']) && form.controls.part1.get('name').touched">
            Gelieve een naam in te vullen.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full">
          <textarea matInput formControlName="description" placeholder="Beschrijving (in Markdown formaat)"></textarea>
        </mat-form-field>

        <p>(<a href="https://en.wikipedia.org/wiki/Markdown#Example" target="_blank">Meer informatie over Markdown</a>)</p>

        <mat-form-field class="full">
          <input type="text" matInput formControlName="vegi" placeholder="Vegitarische opmerking (laat leeg als niet vegitarisch)">
          <mat-error *ngIf="form.controls.part1.hasError('maxlength', ['vegi']) && form.controls.part1.get('vegi').touched">
            Deze tekst mag niet langer dan 40 tekens zijn.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full">
          <input type="url" matInput formControlName="image" placeholder="Foto url">
          <mat-error *ngIf="form.controls.part1.hasError('pattern', ['image']) && form.controls.part1.get('image').touched">
            Gelieve een geldige url in te vullen.
          </mat-error>

        </mat-form-field>

        <div>
          <span>Select an image to upload with Imgur: </span>
          <input type="file" (change)="onImageUpload($event)">
          <button type="button" mat-button color="primary" *ngIf="deleteHash" (click)="deleteImgurImg(deleteHash);" matTooltip="Verwijder van Imgur">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </fieldset>
      <!-- End Content -->

      <mat-action-row>
        <button type="button" mat-button (click)="prevStep()">Vorige</button>
        <button type="button" mat-button mat-raised-button color="primary" [disabled]="!form.controls.part1.valid" (click)="nextStep()">Volgende</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- More Info (details, map coords) -->
    <mat-expansion-panel formGroupName="part2" [expanded]="step === 1" [disabled]="!form.controls.part1.valid" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Details
        </mat-panel-title>
        <mat-panel-description>
          Geef meer details over de frituur
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Content -->
      <fieldset [disabled]="globals.auth.token && globals.auth.admin" >
        <div class="full">
          <mat-form-field>
            <input type="text" required formControlName="street" matInput placeholder="Straat">
            <mat-error *ngIf="form.controls.part2.hasError('required', ['street']) && form.controls.part2.get('street').touched">
              Gelieve een straatnaam in te vullen.
          </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" required formControlName="number" matInput placeholder="Nummer">
            <mat-error *ngIf="form.controls.part2.hasError('required', ['number']) && form.controls.part2.get('number').touched">
              Gelieve een huisnummer in te vullen.
          </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" required formControlName="municipality" matInput placeholder="Gemeente">
            <mat-error *ngIf="form.controls.part2.hasError('required', ['municipality']) && form.controls.part2.get('municipality').touched">
              Gelieve een gemeente in te vullen.
          </mat-error>
          </mat-form-field>
        </div>

        <div class="full">
          <mat-form-field>
            <input type="tel" formControlName="telephone" matInput placeholder="Telefoon">
            <mat-error *ngIf="form.controls.part2.hasError('pattern', ['telephone']) && form.controls.part2.get('telephone').touched">
              Gelieve een geldig telefoonnummer in te vullen.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="email" formControlName="email" matInput placeholder="E-mailadres">
            <mat-error *ngIf="form.controls.part2.hasError('email', ['email']) && form.controls.part2.get('email').touched">
              Gelieve een geldig e-mailadres in te vullen.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="url" formControlName="website" matInput placeholder="Website URL">
            <mat-error *ngIf="form.controls.part2.hasError('pattern', ['website']) && form.controls.part2.get('website').touched">
              Gelieve een geldige url in te vullen.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="full">
          <mat-form-field class="small">
            <input type="number" required step="0.001" min="-90" max="90" formControlName="lat" matInput placeholder="Breedtegraad">
            <mat-error *ngIf="!form.controls.part2['controls'].lat.valid && form.controls.part2.get('lat').touched">
              Gelieve een geldige coördinaat in te vullen.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="small">
            <input type="number" required step="0.001" min="-180" max="180" formControlName="lng" matInput placeholder="Lengtegraad">
            <mat-error *ngIf="!form.controls.part2['controls'].lng.valid && form.controls.part2.get('lng').touched">
              Gelieve een geldige coördinaat in te vullen.
            </mat-error>
          </mat-form-field>

          <button type="button" mat-button color="primary" *ngIf="!globals.auth.admin" (click)="lookupCoords()" [disabled]="!form.controls.part2['controls'].street.valid || !form.controls.part2['controls'].number.valid || !form.controls.part2['controls'].municipality.valid">
            <mat-icon>search</mat-icon>Vul coördinaten
          </button>
          <small>(<a href="https://support.google.com/maps/answer/18539?co=GENIE.Platform%3DDesktop&hl=nl&oco=1" target="_blank">Waar vind ik deze coördinaten?</a>)</small>
        </div>
      </fieldset>
      <!-- End Content -->

      <mat-action-row>
        <button type="button" mat-button (click)="prevStep()">Vorige</button>
        <button type="button" mat-button mat-raised-button color="primary" [disabled]="!form.controls.part2.valid" (click)="nextStep()">Volgende</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Snacks -->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" [disabled]="!form.controls.part2.valid" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Snacks
        </mat-panel-title>
        <mat-panel-description>
          Welke snacks bied deze frituur aan?
          <mat-icon>restaurant_menu</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Content -->
      <div class="snacklist">
        <mat-card formArrayName="snacks" class="snack"
          *ngFor="let snack of form.get('snacks')['controls']; let i = index;">

          <span>{{ snack.controls.name.value }} <mat-icon class="color-green" matTooltip="Vegetarisch" *ngIf="snack.controls.vegi.value">check_circle</mat-icon> ({{ snack.controls.type.value }})</span>

          <button type="button" mat-icon-button *ngIf="!globals.auth.admin" (click)="removeSnack(i,snack.controls.id.value,snack.controls.isnew.value)" aria-label="Verwijderen" matTooltip="Verwijderen">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-icon-button *ngIf="!globals.auth.admin && !snack.controls.isnew.value" (click)="dialogsService.editsnack(snack.controls.id.value)" aria-label="Aanpassen" matTooltip="Aanpassen">
            <mat-icon>edit</mat-icon>
          </button>

        </mat-card>
      </div>

      <mat-form-field *ngIf="!globals.auth.admin" class="full">

        <button type="button" mat-icon-button matPrefix>
          <mat-icon>search</mat-icon>
        </button>

        <input matInput placeholder="Snack toevoegen" aria-label="Snack toevoegen" [matAutocomplete]="autocomplete" [formControl]="snackSearchCtrl">

        <button type="button" *ngIf="snackSearchCtrl.value" matSuffix mat-icon-button aria-label="Reset" (click)="snackSearchCtrl.reset()">
          <mat-icon>close</mat-icon>
        </button>
        
        <mat-autocomplete #autocomplete="matAutocomplete">
          <mat-option (onSelectionChange)="pickSnack(snack.id,$event)" *ngFor="let snack of (filteredSnacks | async | orderBy: ['name'])" [value]="snack.name">
              <span>{{snack.name}} <mat-icon class="color-green" *ngIf="snack.vegi">check_circle</mat-icon></span> | <small>{{snack.type}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button type="button" mat-button mat-raised-button color="primary" *ngIf="!globals.auth.admin" (click)="newSnack()">
        <mat-icon>add</mat-icon>Nieuwe Snack
      </button>
      <!-- End Content -->

      <mat-action-row>
        <button type="button" mat-button (click)="prevStep()">Vorige</button>

        <ng-container *ngIf="globals.auth.token && globals.auth.admin;else savebtn">
          <button type="button" mat-button mat-raised-button color="warn" (click)="remove()">
            <mat-icon>delete_forever</mat-icon>Verwijderen
          </button>
          <button type="button" mat-button mat-raised-button color="warn" (click)="accept()">
            <mat-icon>check</mat-icon>Goedkeuren
          </button>
        </ng-container>

        <ng-template #savebtn>
          <button type="submit" [disabled]="!form.valid || form.pristine" mat-button mat-raised-button color="warn">
            <mat-icon>save</mat-icon>Opslaan
          </button>
        </ng-template>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</form>
