.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

fieldset {
  padding: 0;
  border: none;
}

input[type=file] {
  display: none;
}

.full {
  display: block;
  width: 100%;
  margin: 15px 0;
}

.small {
  max-width: 140px;
}

.snacklist {
  min-height: 350px;
  max-height: 55vh;
  overflow-y: auto;
}

.snack {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  width: calc( 50% - 40px );
  vertical-align: top;
  overflow-x: auto;
}

.snack span {
  float: left;
}

mat-option mat-icon {
  margin: 0;
  font-size: 1em;
  vertical-align: sub;
}

@media (max-width: 600px) {
  .snack {
    width: calc( 100% - 40px);
  }  
}

.snack button {
  float: right;
}

mat-form-field {
  margin-right: 10px;
}

textarea, .half {
  width: 100%;
  min-height: 150px;
}

@media(max-width: 840px) {
  .preview { display: none; }
}

@media(min-width: 840px) {

  .half, .preview {
    display: inline-block;
    max-width: 50%;
    vertical-align: top;
  }

  .preview {
    max-width: calc( 50% - 45px);
    margin-left: 15px;
    padding-left: 14px;
    border-left: 1px solid grey;
    opacity: 0.7;
    user-select: none;
  }
  
}
