<mat-table #table [dataSource]="dataSource">

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-ripple
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="'/edit/'+row.type+'/'+row.item.id"
  ></mat-row>


  <!-- itemName Column -->
  <ng-container matColumnDef="itemName">
    <mat-header-cell *matHeaderCellDef> Naam frituur </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span matTooltip="Bekijk aanpassing">{{row.item.name}}</span>
    </mat-cell>
  </ng-container>

  <!-- userName Column -->
  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef> Naam gebruiker </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.user.name}} </mat-cell>
  </ng-container>

  <!-- timestamp Column -->
  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef> Tijdstip </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{formatDate(row.timestamp)}} </mat-cell>
  </ng-container>

  <!-- buttons Column -->
  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef> Acties </mat-header-cell>
    <mat-cell *matCellDef="let row; let i=index"> 
      
      <button (mousedown)="$event.stopPropagation()" (click)="accept(i,$event)" mat-icon-button color="accent" matTooltip="Goedkeuren">
        <mat-icon aria-label="Goedkeuren">check</mat-icon>
      </button>

      <button (mousedown)="$event.stopPropagation()" (click)="remove(i,$event)" mat-icon-button color="warn" matTooltip="Verwijderen">
        <mat-icon aria-label="Verwijderen">delete_forever</mat-icon>
      </button>

    </mat-cell>
  </ng-container>

</mat-table>

<mat-paginator #paginator
  [length]="database.data.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>