@media print {
  mat-card:not(.list), mat-card.list mat-card-actions, mat-card.list button, .link mat-icon, .quickpick {
    display: none;
  }
}

.quickpick {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.quickpick li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin: 5px;
  width: 190px;
  height: 90px;
}

.quickpick button {
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5em;

  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow: none;
}

mat-list-item span {
  margin: 5px;
}

.right {
  float: right;
}

.link  {
  cursor: pointer;
}

.link mat-icon {
  font-size: 1.25em;
  vertical-align: sub;
}
