<mat-card class="small">
  <h1>Maak je bestelling <a *ngIf="shopId" [routerLink]="'/shop/'+shopId"> bij {{ shopName }}</a></h1>
  <p>Met deze tool kan je makkelijk de dichtste frituur vinden waar ze al jouw favoriete snacks hebben. Als extraatje kan je ook een handig briefje afdrukken om mee te nemen naar de frituur!</p>
</mat-card>

<!-- Autocomplete snack search box -->

<mat-card class="small search">
  <form>
    <mat-form-field class="full-width">

      <button mat-icon-button matPrefix>
        <mat-icon>search</mat-icon>
      </button>

      <input matInput placeholder="Snack toevoegen" aria-label="Snack toevoegen" [matAutocomplete]="autocomplete" [formControl]="snackCtrl">

      <button *ngIf="snackCtrl.value" matSuffix mat-icon-button aria-label="Reset" (click)="snackCtrl.reset()">
      <mat-icon>close</mat-icon>
    </button>
      
      <mat-autocomplete #autocomplete="matAutocomplete">
        <mat-option (onSelectionChange)="pickSnack(snack.id,$event)" *ngFor="let snack of filteredSnacks | async" [value]="snack.name">
            <span>{{snack.name}} <mat-icon class="color-green" *ngIf="snack.vegi">check_circle</mat-icon></span> | <small>{{snack.type}}</small>
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
  </form>
</mat-card>

<!-- Favorite Snacks Image Grid -->
<ul class="quickpick" *ngIf="snacks">
  <li *ngFor="let snack of (snacks | slice: 0:(windowwidth > 1000 ? 6:3)) ">

    <button mat-raised-button
      (click)="pickSnack(snack.id)"
      [matTooltip]="snack.name+' toevoegen'"
      matTooltipPosition="below"
      color="primary">
      <span>{{snack.name}}</span>
    </button>

  </li>
</ul>

<ng-container *ngIf="fullAddedSnacks.length">

  <!-- Order List -->

  <mat-card class="list small">
    <h2>Bestelling</h2>
    <mat-list>

      <ng-container *ngFor="let group of (fullAddedSnacks | groupBy:'type' | pairs) ; let last = last">
        <h3 mat-subheader>{{group[0]}}</h3>
        <mat-list-item *ngFor="let snack of group[1]">

          <mat-icon matListIcon>check_box</mat-icon>
          <span>
            {{snack.count}}x 

            <ng-container *ngIf="snack.image || snack.link;else onlyname">
              <span (click)="handleMoreInfo(snack)" class="link" aria-label="Meer info" matTooltip="Meer info">
                {{snack.name}} <mat-icon class="color-green" matTooltip="Vegetarisch" *ngIf="snack.vegi">check_circle</mat-icon>
                <mat-icon>open_in_new</mat-icon>
              </span>
            </ng-container>

            <ng-template #onlyname>
              {{snack.name}} <mat-icon class="color-green" matTooltip="Vegetarisch" *ngIf="snack.vegi">check_circle</mat-icon>
            </ng-template>

            <span *ngIf="globals.auth.token && !globals.auth.admin" (click)="dialogsService.editsnack(snack.id)" class="link" aria-label="Aanpassen" matTooltip="Aanpassen">
              <mat-icon>edit</mat-icon>
            </span>

          </span>

          <span class="spacer"></span>

          <button mat-icon-button aria-label="1 toevoegen" matTooltip="1 toevoegen" (click)="editSnackCount(snack.id,snack.count+1)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button aria-label="1 aftrekken" matTooltip="1 aftrekken" (click)="editSnackCount(snack.id,snack.count-1)">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button aria-label="Verwijderen" matTooltip="Verwijderen" color="warn" (click)="editSnackCount(snack.id,0)">
            <mat-icon>delete</mat-icon>
          </button>

        </mat-list-item>
        <ng-container *ngIf="!last">
          <mat-divider></mat-divider>
        </ng-container>
      </ng-container>

    </mat-list>
    <mat-card-actions>
      <button mat-button (click)="print()">PRINT</button>
      <button mat-button (click)="email()">EMAIL</button>
      <button mat-button class="right" color="warn" (click)="resetOrder()">RESET</button>
    </mat-card-actions>
  </mat-card>

  <!-- Map -->

  <mat-card class="full" *ngIf="filteredShops?.length">
    <app-map [shops]="filteredShops"></app-map>
  </mat-card>

</ng-container>
