@media print {
  mat-card:not(.list), mat-card.list mat-card-actions, mat-card.list button, .link mat-icon, mat-grid-list {
    display: none;
  }
}

/* .quickpick {
  max-width: 600px;
  margin: 0 auto;
} */

.quickpick button {
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.5em;
}

mat-list-item span {
  margin: 5px;
}

.right {
  float: right;
}

.link  {
  cursor: pointer;
}

.link mat-icon {
  font-size: 1.25em;
  vertical-align: sub;
}
