
// MATERIAL THEME

@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-amber);
$app-accent: mat-palette($mat-brown);
$app-warn: mat-palette($mat-red,A700);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// GLOBAL STYLES

body {
  font-family: sans-serif;
  background: #eee;
}

a:link {
	color: mat-color($app-accent, A700);
	text-decoration: none;
}

a:link:hover {
	text-decoration: underline;
}

a:visited {
	color: mat-color($app-accent, A400);
}

mat-card {
	margin: 20px auto;
}

mat-card.small {
	max-width: 550px;
}

mat-card.full {
	padding: 0;
}

mat-card.search {
	padding-top: 10px;
	padding-bottom: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
	width: 100%;
}

@media print {
	mat-card {
		box-shadow: none !important;
	}
}