
// MATERIAL THEME

@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-brown);
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-red,A700);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// GLOBAL STYLES

body {
  font-family: sans-serif;
  background: #eee;
}

a:link {
	color: mat-color($app-accent, A700);
	text-decoration: none;
}

a:link:hover {
	text-decoration: underline;
}

a:visited {
	color: mat-color($app-accent, A400);
}

a.dark:link {
	color: mat-color($app-primary, A700);
}

a.dark:visited {
	color: mat-color($app-primary, A400);
}

mat-card {
	margin: 20px auto;
}

mat-card.small {
	max-width: 550px;
}

mat-card.full {
	padding: 0;
}

mat-card.search {
	padding-top: 10px;
	padding-bottom: 5px;
}

.mat-form-field.ng-invalid.ng-touched {
	color: mat-color($app-warn, A400);
}

.loader {
	position: fixed;
	background: rgba(255,255,255,0.5);
	z-index: 1001;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: 0.5s ease-in fadeIn;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.loader mat-spinner {
	position: relative;
	top: calc( 50% - 50px );
	left: calc( 50% - 50px );
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
	width: 100%;
}

@media print {
	mat-card {
		box-shadow: none !important;
	}
}
